.botonPrincipalNavBar{
    background-color:transparent;
	display:inline-block;
	color: white;
	text-decoration:none;
    border: none;
    padding-right: 1.5rem;
    font-size: 2rem;
}

.botonPrincipalNavBar:hover {
    color: rgba(255, 255, 255, 0.74);
}


.navbarPersonal{
    background-color: rgb(0, 0, 0);
    border: none;
}